# Release naming rules.
nameOverride: ""
fullnameOverride: ""
tlsSecretName: "cas-cert"
# Use cert-manager to dynamically issue the TLS certificate for the service
certManager:
  enabled: false
  localDomain: cluster.local
  issuerRef:
    name: ca-issuer
    kind: Issuer # or ClusterIssuer
    group: cert-manager.io
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  isCA: false
  usages:
    - server auth
    - client auth
  dnsNames: []
ccpEndpoint: "ccp.kube-system.svc:9090"
replicaCount: 1
revisionHistoryLimit: 3
service:
  create: true
  port: 8085
  portName: http
  type: ClusterIP
image:
  repository: registry.k8s.io/autoscaling/cluster-autoscaler
  tag: 1.33.3
  pullPolicy: IfNotPresent
rbac:
  create: true
  pspEnabled: false
  serviceAccount:
    name: ""
    create: true
    automountServiceAccountToken: true
    annotations: {}
additionalLabels:
  app: cluster-autoscaler
  k8s-addon: cluster-autoscaler.addons.k8s.io
  k8s-app: cluster-autoscaler
annotations: {}
